@media(max-width: 768px) and (min-width: 501px) {
    section {
        margin: 0;
    }

    section>.container {
        margin: 0;
        display: block;
        padding: 30px 30px;
    }


    /* banner */
    #banner {
        height: 100vh;
        text-align: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/banner.jpg");
        background-size: cover;
        position: relative;
    }


    #banner .profile {
        color: #f7f7f7;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* navbar */
    #nav-bar {
        text-align: center;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
        border: none;

    }



    .nav-link {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        text-decoration: none;
        padding: 0 10px;
        flex-basis: 100px;

    }

    .nav a:nth-of-type(1),
    .nav a:nth-of-type(5) {

        border-right: 1px solid rgba(161, 159, 159, 0.938);
        border-left: 1px solid rgba(161, 159, 159, 0.938);
    }

    .nav a:nth-of-type(4) {

        border-left: 1px solid rgba(161, 159, 159, 0.938);
    }

    .nav a:nth-of-type(2) {

        border-right: 1px solid rgba(161, 159, 159, 0.938);
    }

    .nav .img {
        flex-basis: 20px;
    }

    .nav img {

        display: none;
        border-radius: 50%;
        border: 1px solid white;
        scale: 8;
    }

    .icon-user,
    .icon-doc-text-inv,
    .icon-mail-alt,
    .icon-star-1 {
        color: rgb(6, 126, 238);
    }

    /* about */

    #about .container {
        /* padding-top: 60px;
        padding-bottom: 60px; */
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #about #target,
    #about #personal-info {
        overflow: auto;
    }

    #about #target h1,
    #about #target p {
        /* margin-bottom: 30px;
        margin-left: 60px;
        margin-right: 60px; */
        padding-left: 10px;
        padding-right: 20px;
    }

    #about #personal-info h1,
    #about #personal-info p {
        /* margin-bottom: 30px;
        margin-left: 100px;
        margin-right: 100px; */
        padding-left: 10px;
        padding-right: 20px;
    }

    #about ul {
        /* margin-left: 100px; */
        padding-left: 10px;
        padding-right: 20px;
        line-height: 1.6;

    }

    #about ul div {
        margin-top: 20px;
    }

    #about ul li {
        list-style-type: none;

    }

    /* job-info */
    #job-info .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr 0.3fr 0.4fr 0.2fr;
        line-height: 1.6;
        column-gap: 20px;

    }

    #job-info .container .gridd {
        display: grid;
        row-gap: 20px;
        grid-template-columns: 75% 25%;
        grid-template-rows: 1fr 9fr;
        padding: 14px 30px;
        border: 1px solid rgba(161, 159, 159, 0.938);
        overflow: auto;

    }

    #job-info .container .kinhnghiem {

        grid-column: 1/2;
        grid-row: 1/3;
    }

    #job-info .container .hoatdong {

        grid-column: 2/3;
        grid-row: 1/2;
    }

    #job-info .container .kynang {
        grid-column: 1/2;
        grid-row: 3/5;
    }

    #job-info .container .hocvan {
        grid-column: 2/3;
        grid-row: 2/4;
    }

    #job-info .container .ngonngu {
        grid-column: 1/2;
        grid-row: 5/7;
    }

    #job-info .container .sothich {
        grid-column: 2/3;
        grid-row: 4/6;
    }


    #job-info .info {
        grid-column: 1/3;
    }

    .info4 {
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding-left: 10px;
        padding-right: 10px;
    }

    .ic-pencil,
    .ic-toolbox,
    .ic-telescope,
    .ic-mic,
    .ic-tools-2 {
        font-size: 30px;

    }

    #job-info .now {
        padding: 3px 4px;
        color: #f7f7f7;
        background-color: rgb(6, 126, 238);
    }

    #job-info .container li::marker {
        color: rgb(6, 126, 238);
        font-size: 25px;
    }

    #job-info li {
        font-weight: 600;
        padding-left: 0px;
    }

    #job-info ul {
        padding-left: 20px;
        /* list-style: none; */
    }

    .zz {
        background: #199cdb;
        display: inline-block;
        height: 2px;
        margin-right: 10px;
        width: 45px;
    }

    .ic-strategy,
    .ic-hotairballoon,
    .ic-basket,
    .ic-megaphone {
        font-size: 15px;
        padding: 10px;
        border-radius: 50%;
        border: 1px solid rgb(6, 126, 238);
        color: rgb(6, 126, 238);
    }

    /* certificate */
    #certificate .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }

    #certificate .layout {
        display: grid;
        grid-template-rows: 50% 50%;
    }

    #certificate .grid .content {
        margin-top: 20px;
    }

    #certificate .grid p {
        line-height: 1.6;
        display: inline-block;
        margin-left: 10px;
        /* margin-left: 10px; */
        /* padding-left: 250px; */
    }



    #certificate .grid div p:nth-of-type(1) {
        font-weight: 600;
        padding-bottom: 10px;
    }


    #certificate .grid img {
        width: 100%;


    }

    .certi2 {
        margin-top: 40px;
        padding-top: 0;
        margin-bottom: 40px;
        padding-left: 40px;
        border-left: 1px solid #d6c08d;
        overflow: auto;

    }

    .certi1 {
        padding-right: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
        overflow: auto;
    }

    .certi3,
    .certi4 {
        border-top: 1px solid #d6c08d;
        padding-right: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
        overflow: auto;
    }

    /* project */
    #project h1 {
        margin-bottom: 40px;
    }

    #project .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }

    #project .oneproject {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    #project .grid img {
        width: 100%;
        height: 100%;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        height: 100%;
        max-height: 214px;
    }

    tr {
        border: 1px solid #dddddd;
    }

    td {

        text-align: left;
        padding: 8px;
    }

    .projected div div {
        box-sizing: border-box;
        padding: 12px 10px;
        width: 100%;
        height: 100%;
        border: 1px solid #dddddd;
        border-collapse: collapse;
    }

    #project .year {
        display: inline-block;
        border-radius: 40%;
        padding: 5px 10px;
        color: #f7f7f7;
        background-color: rgb(6, 126, 238);
    }

    /* footer */


    .icon-linkedin-circled,
    .icon-github-circled,
    .icon-facebook-circled {
        color: rgb(6, 126, 238);
        font-size: 20px;
    }

    #footer ul {
        text-align: center;
    }

    #footer li {
        font-size: 20px;
        display: inline-block;
        margin: 5px;

    }
}